# Arquivos gerados pelo build do Maven e Gradle
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# IDEs
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
.vscode/

# Logs e arquivos temporários
*.log
*.class
.DS_Store
hs_err_pid*

# Variáveis de ambiente
application.properties
application.yaml
*.env

# Arquivos de pacote
*.jar
*.war
*.ear