.app-container {
  display: flex;
  min-height: 100vh;
}

.app-container aside {
  width: 220px;
  background-color: var(--color-background);
  padding: 1.5rem;
  border-right: 1px solid var(--color-border);
}

.app-container main {
  flex: 1;
  background-color: var(--color-background);
}
